.Blog-Section {
    height: 40vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
}

.Blog-Section h2 {
    font-size: 35px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #213b52;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 3px solid yellow;
}

.Blog-Section .container {

}

.Blog-Section .container .row {
    
}

.Blog-Section .container .row .Blog-Box {
    display: flex;
    justify-content: center;
}

.Blog-Section .container .row .Blog-Box .card {
    
}

.Blog-Section .container .row .Blog-Box .card .card-body {
    background: #213b52;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.Blog-Section .container .row .Blog-Box .card .card-body .card-title {
    font-size: 14px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
}

.Blog-Section .container .row .Blog-Box .card .card-body .card-text {
    font-size: 14px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.Blog-Section .container .row .Blog-Box .card .card-body button {
    border-radius: 30px;
    color: #595959;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

@media (min-width:100px) and (max-width:300px) {
    .Blog-Section {
        height: 360vw;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-evenly;
    }

    .Blog-Section .container .row .Blog-Box .card {
        width: 13rem!important;
        margin: 5px;
    }

    .Blog-Section h2 {
        font-size: 23px;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
        color: #213b52;
        margin-top: 15px;
        margin-bottom: 15px;
        padding-bottom: 10px;
        border-bottom: 3px solid yellow;
    }

    .Blog-Section .container .row .Blog-Box .card .card-body .card-title {
        font-size: 10px;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
        color: white;
        text-align: center;
    }

    .Blog-Section .container .row .Blog-Box .card .card-body .card-text {
        font-size: 9px;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
        color: white;
    }

    .Blog-Section .container .row .Blog-Box .card .card-body button {
        border-radius: 30px;
        color: #595959;
        font-weight: 500;
        font-size: 10px;
        font-family: 'Poppins', sans-serif;
    }
}

@media (min-width:301px) and (max-width:380px) {
    .Blog-Section {
        height: 305vw;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-evenly;
    }

    .Blog-Section .container .row .Blog-Box .card {
        width: 13rem!important;
        margin: 10px;
    }

    .Blog-Section h2 {
        font-size: 23px;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
        color: #213b52;
        margin-top: 15px;
        margin-bottom: 15px;
        padding-bottom: 10px;
        border-bottom: 3px solid yellow;
    }

    .Blog-Section .container .row .Blog-Box .card .card-body .card-title {
        font-size: 10px;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
        color: white;
        text-align: center;
    }

    .Blog-Section .container .row .Blog-Box .card .card-body .card-text {
        font-size: 9px;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
        color: white;
    }

    .Blog-Section .container .row .Blog-Box .card .card-body button {
        border-radius: 30px;
        color: #595959;
        font-weight: 500;
        font-size: 10px;
        font-family: 'Poppins', sans-serif;
    }
}

@media (min-width:381px) and (max-width:480px) {
    .Blog-Section {
        height: 245vw;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-evenly;
    }    

    .Blog-Section .container .row .Blog-Box .card {
        width: 13rem!important;
        margin: 10px;
    }

    .Blog-Section h2 {
        font-size: 23px;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
        color: #213b52;
        margin-top: 15px;
        margin-bottom: 15px;
        padding-bottom: 10px;
        border-bottom: 3px solid yellow;
    }

    .Blog-Section .container .row .Blog-Box .card .card-body .card-title {
        font-size: 10px;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
        color: white;
        text-align: center;
    }

    .Blog-Section .container .row .Blog-Box .card .card-body .card-text {
        font-size: 9px;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
        color: white;
    }

    .Blog-Section .container .row .Blog-Box .card .card-body button {
        border-radius: 30px;
        color: #595959;
        font-weight: 500;
        font-size: 10px;
        font-family: 'Poppins', sans-serif;
    }
}

@media (min-width:481px) and (max-width:576px) {
    .Blog-Section {
        height: 240vw;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-evenly;
    }

    .Blog-Section .container .row .Blog-Box .card {
        width: 16rem!important;
        margin: 10px;
    }

    .Blog-Section h2 {
        font-size: 23px;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
        color: #213b52;
        margin-top: 15px;
        margin-bottom: 15px;
        padding-bottom: 10px;
        border-bottom: 3px solid yellow;
    }

    .Blog-Section .container .row .Blog-Box .card .card-body .card-title {
        font-size: 13px;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
        color: white;
        text-align: center;
    }

   .Blog-Section .container .row .Blog-Box .card .card-body .card-text {
        font-size: 11px;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
        color: white;
    }

    .Blog-Section .container .row .Blog-Box .card .card-body button {
        border-radius: 30px;
        color: #595959;
        font-weight: 500;
        font-size: 13px;
        font-family: 'Poppins', sans-serif;
    }
}

@media (min-width:577px) and (max-width:680px) {
    .Blog-Section {
        height: 200vw;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-evenly;
    }

    .Blog-Section .container .row .Blog-Box .card {
        width: 16rem!important;
        margin: 10px;
    }

    .Blog-Section h2 {
        font-size: 23px;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
        color: #213b52;
        margin-top: 15px;
        margin-bottom: 15px;
        padding-bottom: 10px;
        border-bottom: 3px solid yellow;
    }

    .Blog-Section .container .row .Blog-Box .card .card-body .card-title {
        font-size: 13px;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
        color: white;
        text-align: center;
    }

   .Blog-Section .container .row .Blog-Box .card .card-body .card-text {
        font-size: 11px;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
        color: white;
    }

    .Blog-Section .container .row .Blog-Box .card .card-body button {
        border-radius: 30px;
        color: #595959;
        font-weight: 500;
        font-size: 13px;
        font-family: 'Poppins', sans-serif;
    }
}

@media (min-width:681px) and (max-width:768px) {
    .Blog-Section {
        height: 168vw;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-evenly;
    }

    .Blog-Section .container .row .Blog-Box .card {
        width: 18rem!important;
        margin: 10px;
    }

    .Blog-Section h2 {
        font-size: 23px;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
        color: #213b52;
        margin-top: 15px;
        margin-bottom: 15px;
        padding-bottom: 10px;
        border-bottom: 3px solid yellow;
    }

    .Blog-Section .container .row .Blog-Box .card .card-body .card-title {
        font-size: 13px;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
        color: white;
        text-align: center;
    }

   .Blog-Section .container .row .Blog-Box .card .card-body .card-text {
        font-size: 11px;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
        color: white;
    }

    .Blog-Section .container .row .Blog-Box .card .card-body button {
        border-radius: 30px;
        color: #595959;
        font-weight: 500;
        font-size: 13px;
        font-family: 'Poppins', sans-serif;
    }
}

@media (min-width:769px) and (max-width:991px) {
    .Blog-Section {
        height: 160vw;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-evenly;
    }

    .Blog-Section .container .row .Blog-Box .card {
        width: 18rem!important;
        margin: 10px;
    }

    .Blog-Section h2 {
        font-size: 23px;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
        color: #213b52;
        margin-top: 15px;
        margin-bottom: 15px;
        padding-bottom: 10px;
        border-bottom: 3px solid yellow;
    }

    .Blog-Section .container .row .Blog-Box .card .card-body .card-title {
        font-size: 13px;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
        color: white;
        text-align: center;
    }

   .Blog-Section .container .row .Blog-Box .card .card-body .card-text {
        font-size: 11px;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
        color: white;
    }

    .Blog-Section .container .row .Blog-Box .card .card-body button {
        border-radius: 30px;
        color: #595959;
        font-weight: 500;
        font-size: 13px;
        font-family: 'Poppins', sans-serif;
    }
}


@media (min-width:992px) and (max-width:1200px) {
    .Blog-Section {
        height: 40vw;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-evenly;
    }    
 
     .Blog-Section .container .row .Blog-Box .card {
         width: 18rem!important;
         margin: 10px;
     }
 
     .Blog-Section h2 {
         font-size: 35px;
         font-weight: 700;
         font-family: 'Poppins', sans-serif;
         color: #213b52;
         margin-top: 15px;
         margin-bottom: 15px;
         padding-bottom: 10px;
         border-bottom: 3px solid yellow;
     }
 
     .Blog-Section .container .row .Blog-Box .card .card-body .card-title {
         font-size: 13px;
         font-weight: 700;
         font-family: 'Poppins', sans-serif;
         color: white;
         text-align: center;
     }
 
    .Blog-Section .container .row .Blog-Box .card .card-body .card-text {
         font-size: 11px;
         font-weight: 700;
         font-family: 'Poppins', sans-serif;
         color: white;
     }
 
     .Blog-Section .container .row .Blog-Box .card .card-body button {
         border-radius: 30px;
         color: #595959;
         font-weight: 500;
         font-size: 13px;
         font-family: 'Poppins', sans-serif;
     }
 }
 
 @media (min-width:1201px) and (max-width:1400px) {
    .Blog-Section {
        height: 35vw;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-evenly;
    }
 
     .Blog-Section .container .row .Blog-Box .card {
         width: 18rem!important;
         margin: 10px;
     }
 
     .Blog-Section h2 {
         font-size: 35px;
         font-weight: 700;
         font-family: 'Poppins', sans-serif;
         color: #213b52;
         margin-top: 15px;
         margin-bottom: 15px;
         padding-bottom: 10px;
         border-bottom: 3px solid yellow;
     }
 
     .Blog-Section .container .row .Blog-Box .card .card-body .card-title {
         font-size: 13px;
         font-weight: 700;
         font-family: 'Poppins', sans-serif;
         color: white;
         text-align: center;
     }
 
    .Blog-Section .container .row .Blog-Box .card .card-body .card-text {
         font-size: 11px;
         font-weight: 700;
         font-family: 'Poppins', sans-serif;
         color: white;
     }
 
     .Blog-Section .container .row .Blog-Box .card .card-body button {
         border-radius: 30px;
         color: #595959;
         font-weight: 500;
         font-size: 13px;
         font-family: 'Poppins', sans-serif;
     }
 }

 @media (min-width:1401px) and (max-width:1600px) {
    .Blog-Section {
        height: 30vw;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-evenly;
    }    
 
     .Blog-Section .container .row .Blog-Box .card {
         width: 18rem!important;
         margin: 10px;
     }
 
     .Blog-Section h2 {
         font-size: 35px;
         font-weight: 700;
         font-family: 'Poppins', sans-serif;
         color: #213b52;
         margin-top: 15px;
         margin-bottom: 15px;
         padding-bottom: 10px;
         border-bottom: 3px solid yellow;
     }
 
     .Blog-Section .container .row .Blog-Box .card .card-body .card-title {
         font-size: 13px;
         font-weight: 700;
         font-family: 'Poppins', sans-serif;
         color: white;
         text-align: center;
     }
 
    .Blog-Section .container .row .Blog-Box .card .card-body .card-text {
         font-size: 11px;
         font-weight: 700;
         font-family: 'Poppins', sans-serif;
         color: white;
     }
 
     .Blog-Section .container .row .Blog-Box .card .card-body button {
         border-radius: 30px;
         color: #595959;
         font-weight: 500;
         font-size: 13px;
         font-family: 'Poppins', sans-serif;
     }
 }